body {
	background: darkseagreen;
}

.about {
}

.about__header {
	color: #33b19c;
}

.about__paragraph {
}





.day {
}

.day__header {

}

.day__paragraph {

}

.day__link {
	color: blue;
	text-decoration: none;
}


/*ffghdgh*/


.diary {
	
}

.diary__header {
	color: blue;
}

.diary__day {
}

.diary__day__header {
	color: orange;
}

.diary__day__paragraph {

}

.diary__day__link {
	color: blue;
	text-decoration: none;
}




.main {
	width: 80vw;
	max-width: 700px;
	margin: 0 auto;
}

.main__header {
	color: darkgreen;
}

.main__footer {
	color: darkgreen;
}